<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <title>Document</title>
</head>
<body>
    <style>
        #map { height: 480px; }
    </style>
        
<div id="map"></div>
    
    <!-- {{ data}} -->

<script>
var map = L.map('map').setView([39.6487765, 66.9618944], 17);

var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 50,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

function highlightFeature(e) {
    var layer = e.target;
    
layer.setStyle({
    weight: 5,
    color: '#777',
    dashArray: '',
    fillOpacity: 0.7
    });
    
    layer.bringToFront();
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
}
var geojson;
    
    
    
function zoomToFeature(e) {
    // popup fucntion
    L.popup().setLatLng(e.latlng).setContent('<p>Hello world!<br > bu uy</p>').openOn(map);
    // zoooming or outzooming
    map.fitBounds(e.target.getBounds());
    var layer = e.target;
    console.log(e)
    // setting style to building
    layer.setStyle({
    weight: 10,
    color: '#222',
    dashArray: '',
    fillOpacity: 0.7
    });
    
    layer.bringToFront();}


function onEachFeature(feature, layer) {
  layer.on({
    mouseover: highlightFeature,
    mouseout: resetHighlight,
    click: zoomToFeature
  });
  }
  geojson = L.geoJson(statesData, {
    onEachFeature: onEachFeature,
  }).addTo(map);
  
</script>
</body>
</html>