<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

<style>
    #map { height: 1000px; background-color: black;}
</style>
    

<div id="map"></div>

    
<script>
// console.log('begin');
const fet = []
// getting data from database
fetch('http://agesamarqand.pythonanywhere.com/home/get_homes').then(x => x.json()).then(s => {
  for (let index = 0; index < s.buldings.length; index++) {
    // console.log(s.buldings[index]);
    fet.push({type: 'Feature',geometry:{ type: 'Polygon',coordinates: s.buldings[index].coordinates}})
    
  }
// console.log(fet);
// creating my own data
var statesData = {features: fet}
  var map = L.map('map').setView([39.6487765, 66.9618944], 17);

  // var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
  //   maxZoom: 50,
  //   attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  // }).addTo(map);
      
  function highlightFeature(e) {
    var layer = e.target;
    
  layer.setStyle({
      weight: 3,
      color: '#fff',
      dashArray: '',
      fillOpacity: 0.7
    });
    
    layer.bringToFront();
  }

  function resetHighlight(e) {
    geojson.resetStyle(e.target);
  }
  var geojson;
      
  function getColor(d) {
    return d > 1000 ? '#f5fe95' :
           d > 500  ? '#ff7801' :
           d > 200  ? '#ff0109' :
           d > 100  ? '#0066fe' :
           d > 50   ? '#01bbff' :
           d > 2   ? '#29dfff' :
           d > 1   ? '#09ff01' :
                      '#09ff01';
  }

  function style(feature) {
      // console.log(feature.geometry.coordinates)
      // console.log(Math.random() * 1000)
      return {
          fillColor: getColor(Math.floor(Math.random() * 1000)),
          weight: 0,
          opacity: 1,
          fillOpacity: 0.7
      };
  }

  // examples data to draw on map

  // var latlngs = [
  //           [
  //             66.9618944,
  //             39.6487765
  //           ],
  //           [
  //             66.961913,
  //             39.6488263
  //           ]
  //       ];

  // for drawing shapes on map that doesn't exists buildings

  // var polygon = L.polyline(latlngs, {color: 'red'}).addTo(map);
  // console.log(polygon.getBounds())


  async function zoomToFeature(e) {
  // popup fucntion
    L.popup()
    .setLatLng(e.latlng)
    .setContent('<p>Hello world!<br > bu uy</p>')
    .openOn(map);
    // zoooming or outzooming
    // map.fitBounds(e.target.getBounds());
    var layer = e.target;
    // console.log(e)
    // setting style to building
    layer.setStyle({
      weight: 3,
      color: '#fff',
      dashArray: '',
      fillOpacity: 0.7
    });

    layer.bringToFront();
    // map.bindPopup("I am a polygon.");
  }


  function onEachFeature(feature, layer) {
    layer.on({
      mouseover: highlightFeature,
      mouseout: resetHighlight,
      click: zoomToFeature
    });
  }

  geojson = L.geoJson(statesData, {
    onEachFeature: onEachFeature,
    style: style
  }).addTo(map);

});
  
</script>